{% extends 'base.html' %}


{%block body %} 
<style>
p {
  font-family: "Arial";
  font-style:italic;
  margin-left: inherit;
  margin-right:100px;

}

h3 {
  font-family: "Verdana";
  font-style:italic;
}
</style>

<div class="text-center my-4">

    <div class="row md-2 mx-2">
    
    <div class="col">
      <img src="/static/images/my1.jpg" width="500" height="400">

    </div>  

    <div class="col">
      <h4 class="font-italic">This is all about me <img src="/static/images/my.jpg" <svg class="rounded-circle" width="200" height="200"></h4>
      <p class="lead mb-1">Hello I'm Vrushali but my friends call me Vrush and my blog is about making everyday food with simple ingredients</p>
      <p class="lead mb-0"><a href="/about" class="font-italic">Continue reading...</a></p>
    </div>
  </div>
  
<div class="row">
    <div class="col pb-4 md-8 blog-main">
      

      <div class="blog-post my-4 mx-3">
  

        <p>Hello I'm Vrushali but my friends call me Vrush and my blog is about making everyday food with simple ingredients. I try to make home cooking easy, approachable and enjoyable.  Being creative in the kitchen and eating healthy food is my passion.</p>
        
        <p>I am the food stylist, recipe creator, photographer and author of <strong>Homecooking_Comfortfood.</strong> Apart from cooking I am a total hodophile,Fitness Freak  inspired by <a href="https://www.bodypower.in">bodypower.in</a>(instagram @bodypower.in) and a fashion enthusiasts.</p>
      
        <p>What started as a casual hobby for nights and weekends while I was working as a Software Engineer.
          Currently , I live in Phoenix, Arizona with my husband Rohan.
        
        <h3> <strong> Happy cooking! </strong></h3>

        <hr>
        
        <h3>Where did you learn to cook ? </h3>
       
        <p>It’s all self taught through lots of mistakes, trials and errors. I’m pretty lucky to have culinary skills from my mom  as she has always been passionate about cooking and feeding. I try to implement
           and experiment whatever I have seen  in my mom’s kitchen</p>
      
        <hr>
        <p>This space, I am always sharing fresh, flavorful, (mostly) healthy recipes that I love to make and eat in my real, every day life. If I wouldn’t eat it in real life, I won’t put in on the blog. 
        <p>My goal is to inspire you with food that is both healthy AND exciting, whether you’re cooking for yourself, your family, your roommates, or your friends. </p>  
        
        <p>On a related note, I absolutely LOVE seeing the food that you’re making. It will make my day if you tag <strong>@homecooking_comfortfood</strong> in your Instagram photos and stories! Also convey me your experiences at <a href="/contact">Contact</a> </p>
        <p>Along with all the recipes, I also use the blog to share bits and pieces of my life outside the kitchen – from photos of my favorite trips.</p>
        <p>I also share about my life on my personal  instagram @love_whatyoulive (Vrushali Bhagat) I’d love if you follow me there too!</p>
 

      <div class="p-4">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="https://www.instagram.com/invites/contact/?i=1xsaqf4u8j1vm&utm_content=fyds4o8">Instagram</a></li>
          <li><a href="https://www.facebook.com/vrush24">Facebook</a></li>
          <li><a href="https://www.youtube.com/channel/UCECgVXYqq_LMpbaCXVxtHKQ">Youtube</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div>

{% endblock body %}