{% extends 'base.html' %}

{% block body %}

<div class="blog-post mx-4 my-4">
        <h2 class="blog-post-title">APRICOT CAKE WITH ALMOND, COCONUT</h2>
        <p class="blog-post-meta">May 14, 2020</p>


        <h5> Ingredients</h5>
        <ul>
            <li> Fresh apricots 6 </li>
            <li> Almond flour *(100g)and whole wheat flour (160g)</li>
            <li> 2 tsp baking powder</li>
            <li> 1 tsp baking soda </li>
            <li> 2/3 cup coconut sugar/ sugar 130g </li>
            <li> 3/4 cup soy milk 180ml, or other non-dairy milk( If you want you can use regular milk ) </li>
            <li> 3 tbsp non-dairy yogurt 45g, (or regular plain yogurt) </li>
            <li> 1/2 cup oil 120ml, or vegan butter </li>
            <li> 2 tbsp lemon juice or apple cider vinegar </li>
            <li> 1 tbsp lemon zest optional </li>
            <li> 2 tsp vanilla extract </li>
            <li> 4 tbsp shredded coconut optional </li>
        </ul>
        
        <hr>

        <h5> Directions </h5></blockquote>
        <ol>
        <li> Preheat the oven to 350°F (180°C). Lightly grease the sides of a 9-inch pan and line the bottom with parchment paper. </li>
        <li> Cut the apricots into halves and remove the core. If they’re not fully ripe, cut into quarters or thinner slices.</li>
        <li> In a mixing bowl whisk together the flour, baking powder, baking soda, salt, and sugar.</li>
        <li> To a measuring jar add the non-dairy milk, yogurt, oil, lemon juice, lemon zest, and vanilla extract. Mix to combine.</li>
        <li> Pour the wet mixture into the flour mixture and stir using a spatula just until combined. Fold in shredded coconut as desired.</li>
        <li> Transfer the batter to the prepared pan. Place the sliced apricots on top, then sprinkle with coconut flakes, almonds  and brown sugar.</li>
        <li> Bake for 50-60 minutes or until a skewer inserted in the center of the cake comes out almost clean with just a few crumbs attached .</li>
        <li> Let cool before serving. Enjoy!</li>
        
        </ol>
        <hr>

      </div>





{% endblock body %}
