{% extends 'base.html' %}

{% block body %}

<div class="blog-post mx-4 my-4">
        <h2 class="blog-post-title">Whole Wheat Pesto Calzone</h2>
        <p class="blog-post-meta">June 25 , 2020</p>


        <h5> Ingredients</h5>
        <ul>
            <li> 1 cups warm water 105 to 115 degrees</li>
            <li> 1-1/2 tsp active dry yeast</li>
            <li> 1 tbs honey</li>
            <li> 1/4 cup olive oil </li>
            <li> 3 cups whole wheat flour </li>
            <li> 1 tsp salt </li>
            <li> 1 cup Pesto sauce </li>
            <li> 1/4 cup olive oil </li>
            <li> 1 cup grated cheese(I used Italian blend)  </li>
            <li> 1 cup diced tomatoes </li>
        
        </ul>

        <hr>

        <h5> Ingredients for Pesto Sauce </h5>
         <ul>
            <li> 3/4 cup pine nuts/ walnuts</li>
            <li> 4 garlic cloves/li>
            <li> 1/8 tsp salt</li>
            <li> 1/8 tsp red pepper flakes (optional)</li>
            <li> 3/4 cup Parmesan-Reggiano or Romano cheese freshly grated </li>
            <li> 3 cups basil leaves packed </li>
            <li> 1 cup spinach packed  </li>
            <li> 1 cup extra virgin olive oil</li>
            <li> 2 tbsp lemon juice  </li>
      
        </ul>
        
        <hr>
    
    

        <h5> Directions </h5></blockquote>
        <ol>
        <li> Mix together the warm water, yeast, and honey. Let it sit for 5 minutes, then add the oil. </li>
        <li> In the bowl of a stand mixer, mix together the flour and the salt. Add the yeast mixture. </li>
        <li> With a dough hook, beat the mixture until a ball of dough forms. The dough should be well hydrated but not sticky. 
             (It should be almost sticky.) If it’s sticky, add a little more flour. If it seems too dry, add a little more water. </li>
        <li> Divide the dough. If you want large calzones, make 4 evenly sized balls. If you want smaller, individual size 
             calzones, make 8 balls. Cover the dough and let it rise for 20-30 minutes. </li>
        <li> Preheat the oven to 425 degrees and grease cookie sheet </li>
        <li> Roll out each piece of dough into a circle 1/8 inch thick. Top the dough with  pesto sauce, tomatoes , 
             olives and cheese. Or Anything you would put on a pizza is fair game. </li>
        <li> Fold the dough in half and shape as per your choice .Pierce the dough with a fork once or twice.</li>
        <li> Bake for 15 to 20 minutes, until the dough begins to turn brown. Let the calzones sit for a few minutes before cutting. 
             Enjoy warm or at room temperature
        </li>
        
        </ol>
        <hr>

      </div>





{% endblock body %}
