{% extends 'base.html' %}

{% block body %}

<div class="blog-post mx-4 my-4"> 
        <h2 class="blog-post-title">Paneer Cutlet/ Cottage Cheese Fritters</h2>
        <p class="blog-post-meta">May 31, 2020</p>


        <h5> Directions </h5>
        <ol>
            <li> 2 cups of grated Paneer/ cottage cheese</li>
            <li> 1 medium size boiled potato</li>
            <li> 1/2 cup finely chopped kale, bell pepper,onion</li>
            <li> Lightly saute all of these and add salt, ginger+garlic+green chili paste</li>
            <li> Let it cool down. </li>
            <li> In a mixing bowl, add  grated Paneer, mashedß potato, sautéed veggies, red chili flakes(crushed red pepper),some oregano , freshly ground black pepper, cilantro , chaat masala, dry mango powder and salt to taste. </li>
            <li> Mix all the ingredients properly. Take little cornflour in to your hands and shape whichever you like, then dip these patties in to gram flour batter( thin pouring consistency) coat with bread crumbs. </li>
            <li> Shallow fry on medium heat.</li>
      
        </ol>
        
        <hr>

        <h2> Tzatziki - Sauce Directions </h2>

    
        <h5> Ingredients </h5>
         <ul>
            <li> 1 Cup Greek whole milk yogurt </li>
            <li> 1 English cucumber finely grated and  drained</li>
            <li> 2 cloves garlic, finely minced</li>
            <li> 1 teaspoon lemon zest plus 1 tablespoon fresh lemon juice</li>
            <li> 1 tbsp minced fresh mint </li>
            <li> 1 tbsp minced fresh dill </li>
            <li> Finely grated zest of 1 lemon </li>
            <li> 1/2 tsp fine sea salt</li>
            <li> Black pepper to taste </li>
      
        </ul>
        
        <hr>

        <h5> Directions </h5></blockquote>
        <ol>
            <li> In a medium bowl, whisk together the yogurt, cucumber, garlic, lemon zest, lemon juice and dill. Season with salt and pepper. Chill.</li>
            <li> For some extra flavor, add some olive oil and some coarsely chopped fresh mint.</li>
        
        </ol>
        <hr>

      </div>





{% endblock body %}
