{% extends 'base.html' %}


{% block body %}

 <div class="blog-post mx-4 my-4">
    <h2 class="blog-post-title">Ultimate Power Plate </h2>
        <p class="blog-post-meta">May 10, 2020</p>


        <h5> Tahini sauce - Ingredients</h5>
        <ul>
            <li> 1 garlic clove, peeled </li>
            <li> 1/2 cup well-stirred tahini(a Middle Eastern paste or sauce made from ground sesame seeds)</li>
            <li> 2 tablespoons fresh lemon juice</li>
            <li> Salt to taste</li>
            <li> 1/4 cup plus 2 tablespoons water </li>
        
        </ul>
        
        <hr>

        <h5> Falafal - Ingredients</h5>
        <ul>
            <li> 6 garlic cloves, peeled </li>
            <li> 1/2 cup lightly packed parsley</li>
            <li> 1/2 cup lightly packed cilantro</li>
            <li> 1 scallion, coarsely chopped </li>
            <li> 2-3 cups chickpeas, drained, rinsed and patted dry with paper towels </li>
            <li> 2 tablespoons fresh lemon juice </li>
            <li> 1 teaspoon ground cumin</li>
            <li> 1 tablespoon tahini</li>
            <li> Salt and freshly ground black pepper</li>
            <li> 2 tablespoons oat or almond flour</li>
            <li> 4-6 tablespoons neutral vegetable oil, such as grapeseed.</li>
        
        </ul>

    <hr>

        <h5> Directions </h5></blockquote>
        <ol>
        <li> Heat 3 tablespoons of the vegetable oil in a large non-stick or cast-iron skillet over medium-high heat </li>
        <li> Arrange the falafel in the pan, leaving plenty of space in between each.</li>
        <li> Cook until golden brown on the bottom, about 2 minutes.</li>
        <li> Flip and cook until golden on the other side, 1 to 2 minutes longer.</li>
        
        </ol>
        <hr>

    <h5> Power Plate - Servings </h5>
        <ul>
            <li> Hummus</li>
            <li> Quinoa with some herbs </li>
            <li> Chopped beetroot, cucumbers and sliced avocado </li>
            <li> Pan fried Tofu (you can use Paneer </li>
            <li> Roasted chickpeas  </li>
        
        </ul>

      </div>





{% endblock body %}