{% extends 'base.html' %}

{% block body %}
<style>

h4 {
  font-family: "Arial";
}

p1 {
  font-family: "Times New Roman";
  font-style: italic;
}
</style>

<div class="jumbotron">

  <div class="row md-2">
    
    <div class="col">
      <img src="/static/images/iconh.jpg" <svg class="rounded-circle" width="100" height="100">
      <h4 class="font-italic">Please join my food journey.... <width="100" height="100"></h4>
      <p1 class="lead mb-1">Homecooking Comfortfood is full of fresh, flavorful, (mostly) healthy recipes that I love to make and eat in my real, every day life  </p1>
    </div>  

    <div class="col">
      <h4 class="font-italic">This is all about me <img src="/static/images/me.jpeg" <svg class="rounded-circle" width="100" height="100"></h4>
      <p1 class="lead mb-1">Hello I'm Vrushali but my friends call me Vrush and my blog is about making everyday food with simple ingredients.</p1>
      <p class="lead mb-0"><a href="/about" class="font-italic">Continue reading...</a></p>
    </div>
  </div>


<hr>

<div class="container marketing">
<d

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="/static/images/taco.jpeg" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h2 class = "font-italic my-2">Roasted Cauliflower Tacos </h2>
        <p>Taco is a traditional Mexican dish consisting of a small hand-sized corn or wheat tortilla topped with a filling. A taco can be made with a variety of fillings including vegetables allowing great versatility and variety</p>
        <p><a class="btn btn-secondary" href="/tacor" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <img src="/static/images/kulfi.jpeg" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h2 class = "font-italic my-2">Broccoli Cauliflower Crust  Pizza</h2>
        <p>A delicious, gluten-free, vegetable-based pizza crust that contains no breadcrumbs and clocks in at only 80 calories per slice!</p>
        <p><a class="btn btn-secondary" href="https://www.youtube.com/watch?v=iG8yx8kqEN0" role="button">Click here for Youtube Video</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/images/apricot.jpeg" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h2 class = "font-italic my-2">Apricot Almond Cocunut Cake</h2>
        <p>This vegan Apricot Cake with a soft crumb and crunchy coconut and almond  toppings is quick and easy to make, uses less ingredients! It’s a simple but so delicious with juicy fresh fruit and is perfect for summer!</p>
        <p><a class="btn btn-secondary" href="/apricotr" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Love for Hiking & Exploring</h2>
        <span class="text-muted"> Mooney falls, Arizona</span>
        <p>Havasu Canyon, home to the Havasupai Indians, is a paradise located in western Grand Canyon known worldwide for its series of waterfalls and beautifully sculpted rock. In this idyllic setting of lush side canyons and sun-splashed cliffs a small group of indigenous hunters and farmers arrived centuries ago and carved out a simple lifestyle; one that continues to this day.</p>
        <p> Hiking down to Mooney Falls is a great, short adventure when camping at the Havasupai Campground. Not only that, it is certainly the most adventurous waterfall to reach, requiring travelers to hike down through a menacing passageway cut through the side of the canyon wall by miners at the turn of the 20th century. Descend to the base of Mooney Falls at your own risk; the falls are named after a prospector (Mr. Mooney) who fell to his death way back when, prior to the existing path being in place (still dangerous now). While Mooney Falls makes a great destination, I would strongly encourage it to be only one stop along your way to the many cascades and Beavers Falls further downstream.</p>
      </div>
      <div class="col-md-5">
      <img src="/static/images/mooney.jpg" name="img" width="450" height="450"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Beauty in Beehive state of USA</h2>
        <span class="text-muted">Kannara falls, Utah</span>
        <p>Kanarra Falls is considered a family-friendly hike, but it can be difficult and challenging for younger children and extreme caution is recommended for anyone with physical limitations.</p>
        <p> Kanarra Creek offers a fun slot canyon hike in a very photogenic canyon just outside the Kolob Canyons section of Zion National Park. Access is easy, the hike is relatively short and the route can be customized to keep it easy or make it a little challenging.</p>
        <p>The challenge comes from two waterfalls that block upstream travel through the narrow slot. Water flows here year-round and hikers must wade the stream in many places. The hike to the base of the first waterfall is short and easy. If you want moderate challenge then climb the falls and continue up the canyon.<p>
      </div>
      <div class="col-md-5 order-md-1">
      <img src="/static/images/kanara.jpg" name="img" width="450" height="450"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Some hidden gems in Arizona</h2>
        <span class="text-muted">Cibecue Falls, Arizona</span>
        <p>Cibecue Falls via Cibecue Creek Trail is a 3 mile moderately trafficked out and back trail located near Cibecue, Arizona that features a waterfall and is rated as moderate. The trail is primarily used for hiking, walking, running, and nature trips. Dogs are also able to use this trail but must be kept on leash.</p>
        <p>The road is dirt, windy, and dangerous in a few spots. A 4-wheel-drive vehicle is recommended but is not entirely necessary. As the road approaches the trailhead, there will be a river crossing. Sedans can often be seen parked before the river crossing to avoid danger. Then, hikers can simply walk the rest of the way to the trailhead. We suggest this unless driving a high-clearance vehicle or, again, a 4-wheel-drive. The official name of the trailhead is Cibecue Creek Trailhead.</p>
      </div>
     <div class="col-md-5 order-md-1">
      <img src="/static/images/cibecue.jpeg" name="img" width="450" height="450"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>

{% endblock body %}