{% extends 'base.html' %}


{% block body %}

<div class="destinations" id="destinations">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle">Simply Amazing Homemade food</div>
					<div class="section_title"><h4>Favorite Dishes</h4></div>
				</div>
			</div>

    <!-- Three columns of text below the carousel -->
  <div class="Container marketing">
    <div class="row my-2">
      <div class="col">
        <img src="/static/images/taco.jpeg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Roasted Cauliflower Tacos </h4>
        <p>Taco is a traditional Mexican dish consisting of a small hand-sized corn or wheat tortilla topped with a filling. A taco can be made with a variety of fillings including vegetables allowing great versatility and variety</p>
        <p><a class="btn btn-secondary" href="/tacor" role="button">View »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col">
        <img src="/static/images/kulfi.jpeg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Kesar Pista & Gulkand Kulfi </h4>
        <p>Kulfi Recipe is one of the most delicious frozen Indian desserts that can be had anytime of the year. It is very similar to western ice cream but since kulfi is not whipped it results in a solid, dense, but rich, luscious creamy indian dessert.</p>
        <p><a class="btn btn-secondary" href="/contact" role="button">Contact me for Receipe</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col">
        <img src="/static/images/apricot.jpeg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Apricot Almond Cocunut Cake</h4>
        <p>This vegan Apricot Cake with a soft crumb and crunchy coconut and almond  toppings is quick and easy to make, uses less ingredients! It’s a simple but so delicious with juicy fresh fruit and is perfect for summer!</p>
        <p><a class="btn btn-secondary" href="/apricotr" role="button">View »</a></p>
      <div>
    </div>
  </div>

  <div class="Container1">
    <div class="row my-2">
      <div class="col">
        <img src="/static/images/pad.jpeg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Pad Thai and Tomato Basil Soup</h4>
        <p>Vegetarian Pad Thai with a simple five ingredient Pad Thai sauce – adaptable to any veggies you have on hand! So easy and delicious!</p>
        <p><a class="btn btn-secondary" href="/padr" role="button">View »</a></p>
      </div>

    <div class="col">
        <img src="/static/images/methi.jpg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Methi Matar Malai & Garlic Naan </h4>
        <p>Methi Matar Malai is a smooth, rich and delicious curry made in a white/yellow/red gravy along with fenugreek, peas, and cashews and pairs perfectly with naan or rice!</p>
        <p><a class="btn btn-secondary" href="/contact" role="button">Contact me for Receipe</a></p>
      </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <img src="/static/images/brown.jpg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Zucchini And Beetroot Brownies </h4>
        <p>If you are looking for a sweet chocolaty treat without all the guilt, this veggie brownies recipe is just the thing you are looking for!</p>
        <p><a class="btn btn-secondary" href="/brownr" role="button">View »</a></p>
      </div>

  <div class="Container2">
    <div class="row my-2">
      <div class="col">
        <img src="/static/images/pizza.jpg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Broccoli Cauliflower Crust  Pizza</h4>
        <p>A delicious, gluten-free, vegetable-based pizza crust that contains no breadcrumbs and clocks in at only 80 calories per slice! </p>
        <p><a class="btn btn-secondary" href="https://www.youtube.com/watch?v=iG8yx8kqEN0" role="button">Click here for Youtube Video</a></p>
      </div>

      <div class="col">
        <img src="/static/images/calzone.jpg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Whole Wheat Pesto Calzone </h4>
        <p>A calzone is a type of Italian folded pizza that can be stuffed with any number of toppings.!</p>
        <p><a class="btn btn-secondary" href="/calzone" role="button">View »</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img src="/static/images/velvet.jpg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Velvety Cupcakes with Frosting </h4>
        <p>Moist and fluffy red velvet cupcakes topped with a big dollop of cream cheese frosting are beyond delicious and so easy to make!!</p>
        <p><a class="btn btn-secondary" href="/contact" role="button">Contact me for Receipe</a></p>
      </div>
    </div>
  </div>

    <div class="Container3">
    <div class="row my-2">
      <div class="col">
        <img src="/static/images/fal.jpg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Ultimate Power Plate </h4>
        <p>Falafel is, as Google says, “the best thing that ever happened to chickpeas”.! </p>
        <p><a class="btn btn-secondary" href="/falr" role="button">View »</a></p>
      </div>

      <div class="col">
        <img src="/static/images/sandw.jpg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Veggie &  Olive Hummus Sandwich </h4>
        <p>This mile-high vegetable and  olive hummus sandwich makes the perfect heart-healthy breakfast or lunch to go. Mix it up with different flavors of hummus and different types of vegetables depending on your mood.  !</p>
        <p><a class="btn btn-secondary" href="/sandw" role="button">View »</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img src="/static/images/caps.jpg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> The Stuffed Pepper | Fried Rice  </h4>
        <p>The filling is so delicious on its own – loaded with quinoa cooked in vegetable stock, spices, and crumbled tofu(you can also use paneer) ,Shredded mozzarella – but it becomes even more delectable once its stuffed into sweet bell peppers and roasted to perfection. Swoon!</p>
        <p><a class="btn btn-secondary" href="/contact" role="button">Contact me for Receipe</a></p>
      </div>
    </div>
  </div>

        <div class="Container4">
    <div class="row my-2">
      <div class="col">
        <img src="/static/images/pestop.jpg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Pesto Chickpea Fusilli</h4>
        <p>There is nothing quite as delicious as a simple bowl of pasta tossed with a bit of pesto. </p>
        <p><a class="btn btn-secondary" href="/pestop" role="button">View »</a></p>
      </div>

      <div class="col">
        <img src="/static/images/cutlets.jpg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Paneer Cutlet / Cottage Cheese Fritters </h4>
        <p>These are very delicious and I love them with tzatkizi sauce and periperi dip.
            Plus, these are shallow-fried, rather than deep-fried, in just a couple of tablespoons of oil.</p>
        <p><a class="btn btn-secondary" href="/cutlets" role="button">View »</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img src="/static/images/wheatb.jpg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Whole Wheat and Chickpea Flour Bread  </h4>
        <p>This bread is definitely a healthier alternative, because whole wheat flour and chickpea have a lot more fiber and nutrition than the more processed white flours. And honestly the taste can’t be beat. So much better than store bought!</p>
        <p><a class="btn btn-secondary" href="/contact" role="button">Contact me for Receipe</a></p>
      </div>
    </div>
  </div>

          <div class="Container4">
    <div class="row my-2">
      <div class="col">
        <img src="/static/images/chikki.jpg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Homemade Peanut Chikki</h4>
        <p>Peanut Chikki is the Indian version of Peanut Brittle. It’s made with peanuts, jaggery and nothing else really. It’s a staple in Indian homes during winters and one of my personal favorite. </p>
        <p><a class="btn btn-secondary" href="https://www.youtube.com/watch?v=SUxhKoV55Dc" role="button">Click here for Youtube video</a></p>
      </div>

      <div class="col">
        <img src="/static/images/broc.jpg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Green Peas and Broccoli Soup </h4>
        <p>This simple broccoli & green pea soup includes two of my favorite vegetables. Broccoli and green peas</p>
        <p><a class="btn btn-secondary" href="https://www.youtube.com/watch?v=AfoYO8l5e9Y" role="button">Click here for Youtube video</a></p>
      </div><!-- /.col-lg-4 -->

     <div class="col">
        <img src="/static/images/chipot.jpg" name="img" width="200" height="200"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Chipotle Mexican Bowl </h4>
        <p>This Chipotle inspired Burrito Bowl features black beans, cilantro lime rice, and fajitas with fresh homemade salsa,  lettuce and avocado for a deliciously healthy lunch, dinner or meal prep idea!
            that’s bursting with spices, flavor and is more delicious (and easier on the wallet!) than take-out! </p>
        <p><a class="btn btn-secondary" href="https://www.youtube.com/watch?v=xEB86CwrJCA" role="button">Click here for Youtube video</a></p>
      </div><!-- /.col-lg-4 -->
    </div>
  </div>


{% endblock body %}