{% extends 'base.html' %}

{% block body %}

<div class="blog-post mx-4 my-4">
        <h2 class="blog-post-title">Pad Thai & Tomato Basil Soup</h2>
        <p class="blog-post-meta">June 4, 2020</p>


        <h5> Ingredients for Pad Thai</h5>
        <ul>
            <li> Brown rice noodles </li>
            <li> 1 cup tofu</li>
            <li> 1/4 cup bean sprouts </li>
            <li> 1 red pepper </li>
            <li> 2 carrots </li>
            <li> 1 tablespoons oil </li>
            <li> 1/4 cup peanuts, chopped </li>
            <li> 1/2 cup fresh herbs like  cilantro, green onions, and basil, chopped</li>
            
        </ul>

        <hr>

        <h5> Ingredients for Sauce</h5>
        <ul>
            <li> 3 tbsp vegan tablespoons fish sauce </li>
            <li> 1 tbsp brown sugar </li>
            <li> 3 tbsp vegetable broth </li>
            <li> 2 tbsp white vinegar </li>
            <li> 1 tbsp soy sauce</li>
            <li> 1 tbsp chili paste</li>
            
        </ul>
        
        <hr>

        <h5> Directions</h5></blockquote>
        <ol>
        <li> Spiralize the red pepper, carrots and green onions into noodle-like shapes </li>
        <li> Shake up the sauce ingredients in a jar.</li>
        <li> Heat 1/2 tablespoon of oil over medium high heat. Add the veggies – stir fry with t for 2-3 minutes or until 
             tender-crisp . Also saute tofu. Transfer to a dish and set aside.</li>
        <li> Add another  1/2 tablespoon of oil to the pan. Drain the noodles</li>
        <li> Add the noodles to the hot pan and stir fry for a minute, Add the sauce and stir fry for another minute or two, until the sauce is starting to thicken and stick to the noodles.</li>
        <li> Add in the vegetables, pan fired tofu, bean sprouts toss together, and remove from heat</li>
        <li> Stir in the peanuts and herbs and serve immediately </li>
   
        </ol>

      </div>





{% endblock body %}
