{% extends 'base.html' %}

{% block body %}

<div class="blog-post mx-4 my-4">
        <h2 class="blog-post-title">PESTO CHICKPEA FUSILLI </h2>
        <p class="blog-post-meta">June 10, 2020</p>


        <h5> Ingredients for Pesto Sauce </h5>
         <ul>
            <li> 3/4 cup pine nuts/ walnuts</li>
            <li> 4 garlic cloves/li>
            <li> 1/8 tsp salt</li>
            <li> 1/8 tsp red pepper flakes (optional)</li>
            <li> 3/4 cup Parmesan-Reggiano or Romano cheese freshly grated </li>
            <li> 3 cups basil leaves packed </li>
            <li> 1 cup spinach packed  </li>
            <li> 1 cup extra virgin olive oil</li>
            <li> 2 tbsp lemon juice  </li>
      
        </ul>


        <h5> Directions </h5>
        <ol>
            <li> Add all ingredients except for basil ,spinach and olive oil to food processor </li>
            <li> Blend with pulsing motion for a minute or so to breakdown and form a paste </li>
            <li> Next add the basil and with processor running slowly add the oil in a steady stream to blend thoroughly </li>
            <li> This makes 3 cups of fresh basil pesto which can be used over hot pasta or as a dipping sauce </li>
           
      
        </ol>
    

        <hr>

        <h5> Directions for Pasta </h5></blockquote>
        <ol>
            <li> Cook pasta in a large pot of boiling water until done. Drain. </li>
            <li> Meanwhile, heat the oil in a frying pan over medium low heat.</li>
            <li> Add garlic, pesto, onion, your choice of veggies , salt and pepper. Cook about five minutes, or until veggies are soft.  </li>
            <li> Mix pesto mixture into pasta. Stir in grated cheese. Serve.</li>
        
        </ol>
        <hr>

      </div>





{% endblock body %}
