{% extends 'base.html' %}

{% block body %}

 <div class="blog-post mx-4 my-4">
    <h2 class="blog-post-title">Veggie &  Olive Hummus Sandwich </h2>
        <p class="blog-post-meta">June 14, 2020</p>


        <h5> Ingredients</h5>
        <ul>
            <li> Whole-grain bread  </li>
            <li> Black Olive Hummus </li>
            <li> Avocado mashed /li>
            <li> Spinach </li>
            <li> Tomato, Cucumber, Carrots sliced  </li>
            <li> Alfalfa Sprouts </li>
        
        </ul>
        
        <hr>


        <h5> Directions </h5></blockquote>
        <ol>
        <li> In a food processor add tahini   (sesame seed paste), cold water, olive oil, cumin, salt, garlic and lemon.</li>
        <li> Add in the boiled and drained chickpeas</li>
        <li> Blend  for 3-4 minutes, or until smooth.  Yep, put that food processor Just keep it going and going until the 
             hummus is nice and smooth. Taste and season.  </li>
        <li> Give the hummus a taste, and add in olives </li>
        <li> If the hummus seems too thick, feel free to add in an extra tablespoon or two of water too. </li>
        <li> Now simply assemble the sandwich and enjoy!!!!</li>
        
        </ol>
        <hr>



      </div>





{% endblock body %}