{% extends 'base.html' %}

{% block body %}

<style>

h2 {
  font-family: "Times New Roman";
  font-style: italic;
  color: Green;  
}

</style>

<div class="container">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title" "font-italic"><h2>Start your day fresh with Healthy Smoothies</h2></div>
				</div>
			</div>

    <!-- Three columns of text below the carousel -->

<div class="Container1 my-2">
    <div class="row my-4">
      <div class="col">
      <img src="/static/images/IMG_0896.jpg" name="img" width="400" height="400"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
      <h4 class = "font-italic my-2">Peach Mango Smoothie</h4>
      </div>

    <div class="col">
        <img src="/static/images/IMG_0895.jpg" name="img" width="400" height="400"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2">Cucumber Smoothie </h4>
      
    </div><!-- /.col-lg-4 -->
</div>
    </div>

<div class="Container1">
    <div class="row my-2">
      <div class="col">
      <img src="/static/images/oats.jpg" name="img" width="400" height="400"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
      <h4 class = "font-italic my-2"> Overnight Oats</h4>
      </div>

    <div class="col">
        <img src="/static/images/date.jpg" name="img" width="400" height="400"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Dates Cocunut Smoothie </h4>
      
    </div><!-- /.col-lg-4 -->
</div>

<div class="Container1">
    <div class="row my-2">
      <div class="col">
      <img src="/static/images/IMG_0890.jpg" name="img" width="400" height="400"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
      <h4 class = "font-italic my-2"> Apple & Pear Smoothie </h4>
      </div>

    <div class="col">
        <img src="/static/images/IMG_0893.jpg" name="img" width="400" height="400"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Green Apple Smoothie </h4>
      
    </div><!-- /.col-lg-4 -->
</div>
    </div>

<div class="Container1">
    <div class="row my-2">
      <div class="col">
      <img src="/static/images/IMG_0892.jpg" name="img" width="400" height="400"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
      <h4 class = "font-italic my-2"> Papaya Smoothie</h4>
      </div>

    <div class="col">
        <img src="/static/images/IMG_0887.jpg" name="img" width="400" height="400"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Rasberry Apricot Smoothie </h4>
      
    </div><!-- /.col-lg-4 -->
</div>
    </div>

<div class="Container1">
    <div class="row my-2">
      <div class="col">
      <img src="/static/images/IMG_0886.jpg" name="img" width="400" height="400"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
      <h4 class = "font-italic my-2"> Apple Beetroot Smoothie</h4>
      </div>

    <div class="col">
        <img src="/static/images/IMG_0879.jpg" name="img" width="400" height="400"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Apple Oatmeal Smoothie</h4>
      
    </div><!-- /.col-lg-4 -->
</div>
    </div>  

<div class="Container1">
    <div class="row my-2">
      <div class="col">
      <img src="/static/images/IMG_0884.jpg" name="img" width="400" height="400"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
      <h4 class = "font-italic my-2"> Green Smoothie </h4>
      </div>

    <div class="col">
        <img src="/static/images/IMG_0883.jpg" name="img" width="400" height="400"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Apricot Smoothie </h4>
      
    </div><!-- /.col-lg-4 -->
</div>
    </div>  

<div class="Container1">
    <div class="row my-2">
      <div class="col">
      <img src="/static/images/IMG_0872.jpeg" name="img" width="400" height="400"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
      <h4 class = "font-italic my-2"> Smoothie Bowl </h4>
      </div>

    <div class="col">
        <img src="/static/images/IMG_0881.jpg" name="img" width="400" height="400"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">
        <h4 class = "font-italic my-2"> Green Beauty</h4>
      
    </div><!-- /.col-lg-4 -->
</div>
    </div>

  

{% endblock body %}