{% extends 'base.html' %}

{% block body %}

<div class="blog-post mx-4 my-4">
        <h2 class="blog-post-title">Roasted Cauliflower Tacos</h2>
        <p class="blog-post-meta">June 28, 2020</p>
       <h3> Directions</h3>

        <ol>
        <li>Pre-heat oven to 400 F. </li>
        <li> Whisk together oil, chili powder, garlic powder, cumin, cayenne pepper, flour, milk and salt, pour over cauliflower florets and toss to coat.</li>
        <li> Spread out cauliflower evenly on a baking sheet and roast for 30-35 minutes on the center rack.</li>
        <li> While your cauliflower roasts, chop/grate your veggies and toppings and whisk together your sauces.</li>
        <li> Line up your tortillas, stuff them with your veggies, pile with a few of your favorite taco toppings and drizzle with sauce, and stuff. Enjoy!</li>
        
        </ol>
        <hr>

        <h3>Jalapeno sauce</h3></blockquote>

        </h2> It's an emulsification of jalapenos and   oil. It is definitely one of my favorites, and incredibly easy to make.</h2>
        
        <hr>

        <h3> Ingredients</h3>
        <ul>
            <li> 4 fresh jalapeno peppers </li>
            <li>1 small red onion chopped.</li>
            <li>4-5 garlic cloves</li>
            <li> 1/2 cup Neutral oil ,avocado oil, or a  vegetable oil</li>
            <li>1/2 teaspoon salt </li>
        </ul>

        <h3> Receipe Details </h3>
        <ol>
        <li> Slice the stems from the <strong>jalapeno peppers</strong> and add them to a medium sized pot along with the onion. </li>
        <li>  Cover with water and bring to a quick boil. Reduce the heat and simmer for about 15 minutes, or until the jalapeno peppers soften up 
                but do not let them become mushy.</li>
        <li> Strain but keep the liquid on hand.</li>
        <li> Add the boiled jalapeno and onion to a food processor along with the garlic, oil and salt. Process until very smooth and creamy, about 4-5 minutes.</li>
        <li> If you’d like a thinner sauce, add in a few tablespoons of the reserved boiling water. Adjust for salt and serve!</li>

        </ol>
        <hr>

        <h3>Chipotle sauce</h3></blockquote>

        <ul> 
            <li>In a food processor, place the yogurt, mayo, chipotle pepper, garlic, lime juice, olive oil, honey, and generous pinches of salt and freshly ground 
            black pepper and blend until smooth. Season to taste with more salt and pepper, if desired. </li>
            
        </ul>
        
        
      </div>





{% endblock body %}
